# Temp file ignored
*~


# Special paths - tools
doc/diagram/*
doc/documentation/*
doc/documentation_kernel/*
external_docs/*
sh/*

# Special paths - All code
Incursio/build/*
Incursio/include/*
src/*

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dll


# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app
